<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Team Among Us</title>
    <link rel="stylesheet" href="../static/navbar.css">
  </head>
  <body>
    <ul>
      <li><a href="/">Check Space</a></li>
      <li><a href="/getSafeSites">Safe Spaces</a></li>
      <li><a href="/getDangerSites">Danger Zone</a></li>
      <li style="float:right"><a href="/getAbout">About</a></li>
    </ul>
    <img src="../static/IIASS.jpg" class = "center" style="padding-top: 0.05%";/>
    <hr />
    <h1>About The Team</h1>
    <p>
      We are a team of three Denny Fuentes, Erick Mendivil, and Yash Sharma .
    </p>
    <hr />
    <h2>Denny Fuentes</h2>
    <p>
      Hi I am a Senior in college, I am studying Computer Science and Engineering and would like to get
      into the Machine Learning and Computer Vision fields
    </p>
    <a href="https://linkedin.com/in/dfuentes88">Denny's Linkdein</a>
    <hr />
    <h2>Erick Mendivil</h2>
    <p>
      Hi I'm a Freshman at Western Governers University, I am studying Computer
      Science and would like to get into the data or software development field.
      I am currently working full time as well as a IT Solutions Administrator
      for a IT firm. I became interested in CS after being in robotics
    </p>
    <a href="https://linkedin.com/in/erick-mendivil-68b69a162"
      >Erick's Linkdein</a
    >
    <hr />
    <h2>Yash Sharma</h2>
    <p>
      Hi I am a Sophomore in college, I am studying Computer Science and Engineering and would like to get
      into the Data Science and Machine Learning fields
    </p>
    <a href="https://linkedin.com/in/ySharma0">Yash's Linkdein</a>
    <hr />
    <style>
      body {
        background-color: rgb(241, 241, 241);
      }
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    </style>
  </body>
</html>
