<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Team Among Us</title>
  </head>
  <body>
    <img src="../static/IIASS.jpg" class="center" />
    <hr />
    <h1>About The Team</h1>
    <p>
      We are a team of three Denny Fuentes, Erick Mendivil, and Yash Sharma .
    </p>
    <hr />
    <h2>Denny Fuentes</h2>
    <p>
      Hi I am a ______ in college, I am studying _____ and would like to get
      into ______ field
    </p>
    <a href="https://linkedin.com/in/">Denny's Linkdein</a>
    <hr />
    <h2>Erick Mendivil</h2>
    <p>
      Hi I'm a Freshman at Western Governers University, I am studying Computer
      Science and would like to get into the data or software development field.
      I am currently working full time as well as a IT Solutions Administrator
      for a IT firm. I became interested in CS after being in robotics
    </p>
    <a href="https://linkedin.com/in/erick-mendivil-68b69a162"
      >Erick's Linkdein</a
    >
    <hr />
    <h2>Yash Sharma</h2>
    <p>
      Hi I am a ______ in college, I am studying _____ and would like to get
      into ______ field
    </p>
    <a href="linkedin.com/in/">Yash's Linkdein</a>
    <hr />
    <style>
      body {
        background-color: rgb(241, 241, 241);
      }
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    </style>
  </body>
</html>
