<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Team Among Us</title>
  </head>
  <body>
    <img src="../static/IIASS.jpg" class="center" />
    <style data-iml="1615668014888">
      body {
        background-color: rgb(241, 241, 241);
      }
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 49%;
      }
    </style>
  </body>
</html>
