{% extends "layout.html" %} {% block title %} TEST {% endblock %} {% block body
%}
<p>Hello Worldddddd!!!!</p>
<link rel="stylesheet" href="../static/listDatabase.css">

<table class="styled-table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Address</th>
            <th>Frequency Searched</th>
        </tr>
    </thead>
    <tbody>
        
            {% for a in range(arr|length) %}
            <tr class="active-row">
                <td>{{a}}</td>
                <td>{{arr[a][0]}}</td>
                <td>{{arr[a][1]}}</td>
            </tr>
            {% endfor %}
        
    </tbody>
    
</table>

{% endblock %}
