{% extends "layout.html" %} {% block title %} TEST {% endblock %} {% block body
  %}
  <h1 style="text-align: center">Dangerous Spaces For You To Tread Lightly On</h1>
  <link rel="stylesheet" href="../static/listDatabase.css">
  
  <table class="styled-table" >
      <thead>
          <tr>
              <th>Rank</th>
              <th>Address</th>
              <th>Trigger Type</th>
              <th>Frequency Searched</th>
          </tr>
      </thead>
      <tbody>
          
              {% for a in range(arr|length) %}
              <tr class="active-row">
                  <td>{{a}}</td>
                  <td>{{arr[a][0]}}</td>
                  <td>{{arr[a][2]}}</td>
                  <td>{{arr[a][1]}}</td>
              </tr>
              {% endfor %}
          
      </tbody>
      
  </table>
  
  {% endblock %}
  